* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    height: 130px;
    width: 100%;
    padding: 0;
    background-color: burlywood;
    position: relative;
}
 
h1 {
    font-size: 30px;
    margin-top: 30px;
    color: black;
    background-color: navajowhite;
    padding: 10px 10px 15px 60px;
    display: inline-block;

}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    position: relative;
    font-size: 20px;
}
 .nav-links li a::after {
    content: '';
    background-color: lightcoral;
    width: 100%;
    height: 3.1px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner {
    position: relative;
    background-image: url(./banner.png);
    height: 100px;
}
h2{
        position: relative;
       padding: 10px 30px 10px 10px;
       background-color: navajowhite;
       display: inline-block;
       left: 80%;
       margin: 15px;
}
.worksection  {
    margin-top: 100px;
    display: flex;
}
h3 {
    border-right: 5px burlywood solid; 
    display: inline-block;
    padding-right: 35px;
    margin-left: 27px;
    font-size: 60px;
    margin-right:10px;
}
h4{
    border-right: 5px burlywood solid;
    display: inline-block;
    padding-right: 5px;
    margin-left: 15px;
    font-size: 40px;
    margin-right:10px;
}
section {
    display: flex;
    flex-direction: row;
}
.formating {
    flex-direction: row;
    margin-top: 70px;
    position: relative;
    display: flex;
}
h4 {
    font-size: 69px;
    padding-left: 20px;
    margin-right: 0;
    padding-right: 20px;
    border-right: 6px burlywood solid;
}



 span{
    font: bold;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding: 8px 8px 8px 8px;
    background-color: burlywood;
    opacity: 1;
    display: inline-block;
    margin-top: 20%;
    margin-left: 0%;
}

.caption {
    border: 6px navajowhite solid;
    width: 87%;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    height: 400px;
    background-image: url(../../Assets/CSS/4\ nations.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}
.outside {
    border: 6px navajowhite solid;
    width: 90%;
    margin-left: 40px;
    margin-right: 40px;
    height: 400px;
    display: flex;
}
.inside {
    border: 6px navajowhite solid;
    width: 37%;
    margin-left: 30%;
    margin-right: 10%;
    height: 170px;
    margin: 40px 81px 30px 40px;
    display: inline-flex;
    background-image: url(../../Assets/CSS/nation\ water.jfif);
    opacity: .7;
    background-size: cover;
}
.FormatColumn {
    flex-direction: column;
    width: 100%;
}
#Earth {
    background-image: url(../../Assets/CSS/nation\ earth.jfif); 
    background-size: contain;
}
#Fire {
    background-image: url(../../Assets/CSS/fire\ nation\ logo.jfif);
    background-repeat: 0;
    background-size: 100% 100%;
}
#Air {
    background-image: url(../../Assets/CSS/air\ nation\ logo.jfif);
    background-size: 100% 100%;
}
.caption:hover {
    opacity: 1;
}
.inside:hover {
    opacity: 1;
}
h5 {
    display: inline-block;
    font-size: 30px;
    padding-left: 10px;
    margin-right: 0;
    padding-right: 15px;
    right: 20px;
    margin-top: 10px;
}
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    list-style: none;

}

@media screen and (max-width:600px) {
    .worksection{
        display:flex;
        flex-direction:column;
        font-size: 15px;
        overflow: hidden;
    
    }

    .outside{
        flex-shrink: 1 0 0;
    }
    .inside {
        flex-shrink: 1 0 0;
    }
    .banner {
        width: 100%;
    }
    h2 {
        left: 50%;
    }
}
h6 {
    border-right: 5px burlywood solid;
    display: inline-block;
    padding-right: 5px;
    margin-left: 70px;
    font-size: 40px;
    margin-right:10px;
}